/* This is the stylesheet for MattNEWS */
p {
  color: red;
  font-size: medium;
  background-color: green;
}
.grid {
  display: grid;
  grid-template-columns: 80px 100px auto;
  width: 100%;
  height: 150px;
  margin: 10px;
}
.article {
  background-color: brown;
  margin: 5px;
}
